@tailwind base;
@tailwind components;
@tailwind utilities;

/* filepath: c:\Users\Admin\Documents\FrontEnd_MansStyle\src\index.css */

  /* Gradient mask for fading effect */

 /* filepath: c:\Users\Admin\Documents\FrontEnd_MansStyle\src\index.css */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #1f2937 #374151; /* Thumb color (gray-700) and track color (gray-900) */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151; /* Thumb color (gray-700) */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #374151; /* Track color (gray-900) */
}

.standar-gradient {
  background-image: linear-gradient(to right, #818cf8, #e879f9, #f472b6);
}
