@tailwind base;
@tailwind components;
@tailwind utilities;

/* filepath: c:\Users\Admin\Documents\FrontEnd_MansStyle\src\index.css */

  /* Gradient mask for fading effect */

 /* filepath: c:\Users\Admin\Documents\FrontEnd_MansStyle\src\index.css */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* Chrome, Safari and Opera */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.standar-gradient {
  background-image: linear-gradient(to right, #818cf8, #e879f9, #f472b6);
}

.shadow-custom {
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3);
}